<a href="https://colab.research.google.com/github/ameschini2206/Data-Science-2/blob/main/Proyecto%3F.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
url = 'https://raw.githubusercontent.com/ameschini2206/Data-Science-2/refs/heads/main/xrp.csv'
df = pd.read_csv(url)

In [ ]:
print(df.head())

         Date                Close                 High                  Low  \
0         NaN              XRP-USD              XRP-USD              XRP-USD
1  2017-11-09  0.21748800575733185  0.22179099917411804  0.21486599743366241
2  2017-11-10  0.20648300647735596   0.2190680056810379   0.2052599936723709
3  2017-11-11  0.21042999625205994   0.2144560068845749  0.20545899868011475
4  2017-11-12   0.1973389983177185  0.21021400392055511   0.1953890025615692

                  Open     Volume
0              XRP-USD    XRP-USD
1   0.2179110050201416  147916992
2  0.21825599670410156  141032992
3  0.20594799518585205  134503008
4  0.21021400392055511  251175008

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2980 non-null   object
 1   Close   2981 non-null   object
 2   High    2981 non-null   object
 3   Low     2981 non-null   object
 4   Open    2981 non-null   object
 5   Volume  2981 non-null   object
dtypes: object(6)
memory usage: 139.9+ KB

In [ ]:
import pandas as pd

# Supongamos que tu DataFrame se llama df
cols_numericas = ['Close', 'High', 'Low', 'Open', 'Volume']

for col in cols_numericas:
    # Eliminamos comas y otros caracteres, manteniendo solo números y el punto
    df[col] = df[col].replace(r'[^\d.]', '', regex=True)

    # Convertimos a numérico (errors='coerce' transforma lo que no pueda en NaN)
    df[col] = pd.to_numeric(df[col], errors='coerce')

In [ ]:
df['Date'] = pd.to_datetime(df['Date'], errors='coerce')

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2981 entries, 0 to 2980
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Date    2980 non-null   datetime64[ns]
 1   Close   2980 non-null   float64
 2   High    2980 non-null   float64
 3   Low     2980 non-null   float64
 4   Open    2980 non-null   float64
 5   Volume  2980 non-null   float64
dtypes: datetime64[ns](1), float64(5)
memory usage: 139.9 KB

In [ ]:
print(df.drop(columns=['Date']).describe())

             Close         High          Low         Open        Volume
count  2980.000000  2980.000000  2980.000000  2980.000000  2.980000e+03
mean      0.792859     0.820182     0.762986     0.792168  2.869571e+09
std       0.741878     0.768823     0.714374     0.741473  3.900789e+09
min       0.139635     0.146911     0.115093     0.140524  1.002940e+08
25%       0.332249     0.342441     0.323031     0.332165  9.436148e+08
50%       0.510385     0.523162     0.497449     0.510044  1.591357e+09
75%       0.819703     0.846171     0.780405     0.819695  3.142840e+09
max       3.555765     3.841940     3.430836     3.555637  5.172338e+10